<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roger Express Practice</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div>
            <nav>
                <ul>
                  <li><a href="/">HOMEPAGE </a></li>
                  <li><a href="/works"> SUCCESS HISTORY </a></li>
                  <li><a href="/gallery"> PHOTO GALLERY </a></li>
                </ul>
              </nav>
            </div>
    
    </header>

    <section class="about">
    <h1>A Champion Profile</h1>

    <p>Roger Federer, mostly known as "King Roger", is one of the greatest male tennis players of all-time. Together with his rival and friend Rafa Nadal, he owns the <strong>all-time record of Grand Slam men's singles titles</strong>, having won 20 of them.</p> <br>
    
    <aside><img src="/images/FedererPlaying.jpg" alt="Federer on court"/></aside>

   <p>A versatile all-court player, Federer's perceived effortlessness has made him highly popular among tennis fans.<br> Originally lacking self-control as a junior, Federer transformed his on-court demeanor to become well-liked for his general graciousness</p>
   <br><br>
    <p>Federer is also an active philanthropist. He established the Roger Federer Foundation, which targets impoverished children in southern Africa, and has raised funds in part through the Match for Africa exhibition series.</p>

    <aside class="foundation"><img src="/images/RogerFoundation.jpg" alt="Federer Foundation"/></aside>
</section>



</body>
</html>