<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roger Express Practice</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div>
            <nav>
                <ul>
                  <li><a href="/">HOMEPAGE </a></li>
                  <li><a href="/about">CHAMPION PROFILE</a></li>
                  <li><a href="/works"> SUCCESS HISTORY </a></li>
                </ul>
              </nav>
            </div>
    
    </header>
    <h1>Celebrating Moments</h1>

    <section class="gallery">
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
    </section>
</body>
</html>