<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roger Express Practice</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
</head>
<body>
<header class="homepage">
    <div>
        <nav>
            <ul>
              <li><a href="/about"> CHAMPION PROFILE </a></li>
              <li><a href="/works"> SUCCESS HISTORY </a></li>
              <li><a href="/gallery"> PHOTO GALLERY </a></li>
            </ul>
          </nav>
        </div>

</header>

<section class="intro">
    <h1 id="intro-page">Welcome to King Roger Website</h1>

</section>
    
</body>
</html>