<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roger Express Practice</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div>
            <nav>
                <ul>
                  <li><a href="/">HOMEPAGE </a></li>
                  <li><a href="/about"> CHAMPION PROFILE </a></li>
                  <li><a href="/gallery"> PHOTO GALLERY </a></li>
                </ul>
              </nav>
            </div>
    
    </header>
    <section class="works">
    <h1>A History of Success</h1>
        <h3>Early career</h3>
        <p>Federer entered the top 100 ranking for the first time on 20 September 1999. His international breakthrough came at the 2001 Wimbledon Championships, where the 19-year-old Federer faced the four-time defending champion and all-time Grand Slam leader Pete Sampras. Federer beat the No. 1 seed in a five-set match to reach the quarterfinals.</p>

        <h3>Dominance time</h3>
        <p>The 2006 season was statistically the best season of Federer's career. Federer won 12 singles titles (the most of any player since Thomas Muster in 1995 and John McEnroe in 1984). Federer reached the finals in an astounding 16 of the 17 tournaments he entered during the season</p>

        <h3>Renaissance and latest titles</h3>
        <p>Federer's 2017 season marked a return to Grand Slam wins since 2012, the most titles since 2007, and the highest win percentage since 2006. Statistically, this season was his best since 2007. His withdrawal from most of the injury affected 2016 season lead his ranking slip to No. 17 at the start of Australian Open, his lowest in over fifteen years. In March, Federer won his 25th Masters title at Indian Wells.  In the 2017 Wimbledon Championships, Federer made it to the final without dropping a set, and won his 7th Wimbledon title.</p>

    </section>  

    
</body>
</html>